//- 
    Template for index.html webpage
    Templating Language - PugJS
    Author - Gautam Ramasubramanian

doctype html
html(lang=en)
    head
        meta(charset="utf-8")
        title Goggle Books
        link(rel="stylesheet" href="/public/style.min.css")
        script(type="text/javascript" src="/public/script.min.js")
    body
        header
            span Goggle Books
            form 
                input(type="text")
            button Search
        div(id="content")
        footer
            span Gautam Ramasubramanian
            a(href="https://github.com/gramasu000")
