//-
    Template for no-results page - to be inserted in html
    Templating Language - PugJS
    Author - Gautam Ramasubramanian

h1(id="no-details") No Details.
div(id="change-page")
    button(id="prev") Previous Page
    button(id="next") Next Page
