/** CSS File for Goggle Books
 *  
 * Author: Gautam Ramasubramanian
 *
 * Notes:
 *      Uses tailwind css directives
 *      Will be processed by tailwind, purgecss, autoprefixer, and uglifycss 
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full h-full;
}

header {
    @apply w-full flex;
    @apply fixed top-0;
    @apply p-3;
    @apply bg-gray-200;
    @apply border-solid border-2 border-gray-300;
}

header > span {
    @apply hidden;
}

header > form {
    @apply flex-1;
    @apply inline-block flex;
}

header > form > input {
    @apply flex-1;
    @apply appearance-none;
    @apply py-2 px-4;
    @apply bg-white;
    @apply border-2 border-gray-300 rounded;
    @apply text-gray-700 leading-tight;
}

header > form > input:focus {
    @apply outline-none border-gray-500;
}

header > form > button {
    @apply hidden;
}

#content {
    @apply w-full text-center my-20 p-3;
}

footer {
    @apply w-full flex items-center;
    @apply fixed bottom-0;
    @apply p-3;
    @apply bg-white;
    @apply border-2 border-gray-300 border-solid;
}

footer > span {
    @apply flex-1;
    @apply text-sm text-black;
}

footer > a {
    @apply float-right;
    width: 24px;
    height: 24px;
    background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
    background-size: 24px 24px;
}

@screen md {
    header > span {
        @apply block;
        @apply mr-6;
        @apply font-normal text-2xl text-gray-700;
    }
    header > form > input {
        @apply mr-6;
    }
    header > form > button {
        @apply block;
        @apply float-right;
        @apply py-2 px-4;
        @apply bg-gray-500;
        @apply shadow rounded;
        @apply text-white text-lg font-bold;
    }
    header > form > button:hover {
        @apply bg-gray-400;
    }
}

#content h1 { 
    @apply mb-6; 
    @apply text-gray-700 text-2xl; 
}

#content p {
    @apply text-gray-700 text-sm;
}

@screen sm {
    #content h1 { @apply text-3xl; }
}

@screen md {
    #content p { @apply text-lg; }
    #content h1 { @apply text-4xl; }
}

@screen lg {
    #content h1 { @apply text-5xl; }
}

@screen xl {
    #content p { @apply text-xl; }
    #content h1 { @apply text-6xl; }
}
